<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Alarm secure</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="title col-12 m-5">
                <h1>Alarm Secure</h1>
            </div>
        </div>
    </div>
    <div class="boutons">
        <div class="container">
            <div class="row d-flex justify-content-around">
                <img src="/static/alarmsecure.jpeg" alt="alarmsecure">
                <div class="col-6 m-1">
                    <a href="/led/on/blue" class="btn btn-primary btn-block">Blue On</a>
                    <a href="/led/off/blue" class="btn btn-outline-primary btn-block">Blue Off</a>
                </div>
                <img src="/static/intrusion.jpeg" alt="intrusion">
                <div class="col-6 m-1">
                    <a href="/buzzer/on/buzz" class="btn btn-warning btn-block">Buzzer On</a>
                    <a href="/buzzer/off/buzz" class="btn btn-outline-warning btn-block">Buzzer Off</a>
                </div>
                <div class="col-6 m-1">
                    <a href="/static/webcam.mp4" class="btn btn-success btn-block">Web Cam</a>
                </div>
                <!-- <div class="col-6 m-1">
                    <a href="/start_detector" class="btn btn-danger btn-block">Move On</a>
                    <a href="/stop_detector" class="btn btn-outline-danger btn-block">Move Off</a>
                </div> -->
            </div>
        </div>
    </div>
   
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
</body>

</html>